{% extends 'core/base.html' %}

{%block title%}Sobre mí{%endblock%}

{%block background%}{%load static%}{% static 'core/img/aboutmewallpaper.jpg' %}{%endblock%}

{%block headers%}
<h1>Sobre mí</h1>
<span class="subheading">Interés profesional</span>
{%endblock%}

{%block content%}
<div class="col-lg-3 col-md-4 offset-lg-1">
    <img class="img-fluid avatar" src="{% static 'core/img/aboutme2.png'%}" alt="">
  </div>
  <div class="col-lg-7 col-md-8">
    <h2 class="section-heading">Miguel Moreno</h2>   
    <p>Como ingeniero de datos, mi objetivo profesional es enfrentarme a desafíos lógicos estimulantes y participar en nuevas experiencias que amplíen mi perspectiva sobre la programación. Busco no solo aplicar mis habilidades técnicas y lógicas en un entorno de trabajo, sino también nutrirme de cada oportunidad para aprender y crecer.</p>
    <p>Mi interés se centra sobre todo en trabajar en equipo, contribuyendo con soluciones innovadoras mientras comparto conocimientos y absorbo la experiencia de cada uno de los integrantes. Estoy comprometido a aportar todas mis habilidades para evolucionar como profesional en este campo del desarrollo de software.</p>
</div>
{%endblock%}